<configuration>
	<appSettings>

		<add key="baglanti" value="Data Source=192.168.24.174\SQLEXPRESS,1433;Initial Catalog=DestekAnydeskLauncher; Persist Security Info=False; TrustServerCertificate=true; uid=DestekAnydeskLauncher; password=SHrOVERNETEManToRSetOSPrIPAT"/>

	</appSettings>
</configuration>